    
{% load static %}
    <header class="header">
      <div id="menu-btn" class="fas fa-bars"></div>
      <a href="#" style="width: 10px; height: 20px"
        ><img
          class="gul-logo"
          src="{% static 'travel_fox/images/logo.png' %}"
          style="width: auto; height: 75px; position: relative; top: -26px"
      /></a>
      <a data-aos="zoom-in-left" data-aos-delay="150" href="#" class="logo"
        ><span>T</span>he <span>G</span>ulmohar
      </a>

      <nav class="navbar">
        <a data-aos="zoom-in-left" data-aos-delay="300" href="#home">home</a>
        <a data-aos="zoom-in-left" data-aos-delay="450" href="#about"
          >about us</a
        >
        <a data-aos="zoom-in-left" data-aos-delay="750" href="#services"
          >services</a
        >
        <a data-aos="zoom-in-left" data-aos-delay="600" href="#destination"
          >destination</a
        >
        <a data-aos="zoom-in-left" data-aos-delay="900" href="#gallery"
          >gallery</a
        >
        <a data-aos="zoom-in-left" data-aos-delay="1150" href="#blogs">blogs</a>
      </nav>

      <a data-aos="zoom-in-left" data-aos-delay="1300" href="/book/" class="btn"
        >book now</a
      >
    </header>

